@charset "UTF-8";

body {
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
}

div#interface {
    width: 900px;
    background-color: white;

    /*EXPLICAÇÃO MARGENS
        Existem 4 margens:
            1ª cima;
            2ª direita;
            3ª baixa;
            4ª esquerda
        A configuração de margens é feita através do parâmetro "margin";

        Seus valores em pixels são dispostos nesta exata ordem;

        Parâmetro "auto": determina que a responsabilidade de lidar 
        com a margem foi atribuída ao navegador.
    */
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    /*EXPLICAÇÃO PADDING
        Lida com os lados da mensma forma que o margin,
        porém do lado interno do container;

        Com isto, tem-se 10 pixels em volta de todo o
        conteúdo do site;

        Se o valor for igual para os 4 parâmetros,
        pode-se informá-lo apenas uma vez;
    */
    padding: 10px;
}

p {
    /*para textos justificados*/
    text-align: justify;
    /*tabulação de 50 px para parágrafos*/
    text-indent: 50px; 
}

header#cabecalho img#icone {
    position: absolute;
    left: 955px;
    top: 70px; 
}

header#cabecalho {
    /*largura da borda, cor e tipo*/
    border-bottom: 1px #606060 solid; 
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#cabecalho h1 {
    font-family: Arial, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: Arial, sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
    margin-left: 5px;
}

/* Formatação de imagens com legendas */
figure.foto-legenda {
    position: relative;
    /*EXPLICAÇÃO POSITION
        Colocando o objeto container (figure) no lugar relativo ao lugar
        onde foi colocado no código HTML
    */

    border: 8px solid white;
    /*EXPLICAÇÃO BORDER
        8px: largura da borda
        solid: tipo da borda
        white: cor da borda
    */
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    /*Para que a imagem tenha um preenchimento total*/
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    /*
        Colocando-o na posição absoluta ao seu parente (figure)
    */

    top: 0px; /*Quanto maior o valor, mais distante ele ficará do topo*/
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px; /*Para criar um espaço na legenda, distanciando dos eixos x e y*/

    /*Para que a figcaption não transpasse a borda; isto criará um box dentro da borda*/
    box-sizing: border-box;
    transition: opacity 0.7s;
}

/*Formatação disparada quando houver um mouseover() na figcaption*/
figure.foto-legenda:hover figcaption {
    opacity: 1;
}

/*Formatação do menu*/

nav#menu {
    /*EXPLICAÇÃO DO BLOCO
        deve ser exibido como um bloco para que o menu flutue;
        blocos podem flutuar na tela
        */
    display: block;
}

nav#menu ul {
    list-style: none; /*remove os marcadores da lista*/
    text-transform: uppercase; /*as li's ficam com seus textos em maiúsculo*/

    position: absolute;
    /*EXPLICAÇÃO: relative e absolute:
        relative: pode ser posicionado em qualquer lugar dentro do container (parent)

        absolute: pode ser posicionado em qualquer lugar da página (inclundo fora do container);
                  com isto, fica melhor para configurar o top e o left.
    */

    top: -20px;
    /*EXPLICAÇÃO VALOR NEGATIVO:
        A posição 0px possui uma margem interna dentro do navegador;
        Para que elementos atravessem esta margem, se vali além do 0 (valores negativos).
    */
    
    left: 500px;
    /*Quanto mais alto o valor, mais distante ele estará do lado esquerdo do navegador*/
}

nav#menu li {
    display: inline-block; /*dita que todos os li's devem ser posicionados de forma horizontal*/
    background-color: #dddddd;
    padding: 10px; /*cria um espaçamento extra nos li's*/
    margin: 2px; /*controla o espaço externo (entre os botões) ao dos li's*/
    transition: background-color 0.7s;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu h1 {
    display: none;
    /*EXPLICAÇÃO - OCULTAMENTO
        Oculta-se visualmente mas preserva o elemento
        para fins de semântica e mecanismos de busca;
    */
}

nav#menu a {
    color: black;
    text-decoration: none; /*Removendo o sublinhado*/
    transition: color 0.7s;
}

nav#menu a:hover {
    color: white;
    text-decoration: underline;
}

/*Meus testes

figure.foto-oculos {
    position: relative;
    box-shadow: 1px 1px 4px rgb(167, 11, 167);
    border: 8px solid white;
}

figure.foto-oculos figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-oculos:hover figcaption {
    opacity: 1;
}

figure.foto-oculos img {
    width: 100%;
    height: 100%;
}
*/